.wrap.vsp_with_metaboxes form tables {
  box-shadow: none;
  border: 0 none;
  border-spacing: 0;
  clear: both;
  margin: 0;
  max-width: 900px;
  min-width: 800px;
  width: auto;
  background: #fff;
  border: 1px solid #e1e1e1;
}

.wrap.vsp_with_metaboxes form tables select,
.wrap.vsp_with_metaboxes form tables textarea,
.wrap.vsp_with_metaboxes form tables input[type=text],
.wrap.vsp_with_metaboxes form tables input[type=password],
.wrap.vsp_with_metaboxes form tables input[type=email],
.wrap.vsp_with_metaboxes form tables input[type=number] {
  width: 100%;
  padding: 3px;
  height: auto;
}

.wrap.vsp_with_metaboxes form tables textarea {
  resize: vertical;
}

.wrap.vsp_with_metaboxes form tables tr th {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  padding: 8px 15px;
  line-height: 28px;
  border-bottom: 1px solid #e1e1e1;
}

.wrap.vsp_with_metaboxes form tables tr th p {
  display: block;
  line-height: 1.4em;
  padding: 0 !important;
  margin: 3px 0 0 !important;
  font-size: 12px;
  font-style: italic;
  /*line-height: 16px;*/
  color: #666;
}

.wrap.vsp_with_metaboxes form tables tr th label {
  display: block;
  font-size: 13px;
  line-height: 1.4em;
  font-weight: bold;
  padding: 0;
  margin: 0 0 3px;
  color: #333;
}

.wrap.vsp_with_metaboxes form tables tr > th {
  width: 30% !important;
  vertical-align: middle;
  background: #F9F9F9;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #E1E1E1;
}

.wrap.vsp_with_metaboxes form tables tr td {
  padding: 13px 15px;
  border-top: 1px solid #f5f5f5;
  width: 70% !important;
}

.wrap.vsp_with_metaboxes form tables tr td.remove {
  width: 20px;
}

.wrap.vsp_with_metaboxes form tables tr td.add {
  width: 40px;
}

.wrap.vsp_with_metaboxes form tables tr td:first-child {
  width: 26%;
}

.wrap.vsp_with_metaboxes form tables tr td:first-child.wcff-sortable {
  cursor: move;
}

.wrap.vsp_with_metaboxes form tables > tbody > tr:first-child > td,
.wrap.vsp_with_metaboxes form tables > tbody > tr:first-child > th {
  border-top: 0 none;
}

.wrap.vsp_with_metaboxes #vsp-adds-sidebar .inside {
  margin-bottom: 0;
  padding-top: 12px;
}

.wrap.vsp_with_metaboxes #vsp-adds-sidebar .inside .owl-nav {
  text-align: center;
  margin-top: 20px;
}

.wrap.vsp_with_metaboxes #vsp-adds-sidebar .inside .owl-nav > button {
  padding: 5px !important;
  background: #D6D6D6;
  color: #000;
  border-radius: 5px;
  margin: 0 15px;
  width: 50px;
  height: 25px;
  vertical-align: middle;
  font-size: 11px;
  padding-top: 3px !important;
}

.wrap.vsp_with_metaboxes #vsp-adds-sidebar .inside .owl-nav > button:hover {
  background: #869791;
}

.wrap.vsp_with_metaboxes #vsp-settings-faq .vsp-faq-list {
  list-style: inside !important;
  max-height: 200px;
  overflow-y: scroll;
  list-style-type: decimal !important;
}

.vsp_settings_subtab {
  float: none;
  margin-top: 0 !important;
}

.vsp_settings_subtab li a {
  padding: 0 5px !important;
  font-size: 14px;
}

.vsp_settings_content {
  display: inline-block;
  float: none;
  margin-top: 10px;
  width: 100%;
}

.vsp_settings_content > h2 {
  display: none;
}

.vsp_ajax_error {
  color: red;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.vsp_ajax_success {
  color: green;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.vsp-single-add {
  float: left;
  width: 100%;
  text-align: center;
}

.vsp-single-add .vsp-single-add-header {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.vsp-single-add .vsp-single-add-header h3 {
  margin-right: 5px !important;
  margin-top: 0 !important;
  line-height: 26px;
}

.vsp-single-add .vsp-single-add-header .vsp-add-meta > span {
  margin-right: 10px;
}

.vsp-single-add .vsp-single-add-header .vsp-add-meta > span > span {
  margin-right: 4px;
}

.vsp-single-add .vsp-single-add-header img {
  float: left;
  margin-right: 10px;
  width: 20% !important;
  display: inline-block;
}

.vsp-single-add .vsp-single-add-content {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.vsp-single-add .vsp-single-add-footer {
  float: left;
  width: 100%;
}

.popover-title button.close {
  float: right;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
