.wrap {
    &.vsp_with_metaboxes {
        form {
            tables {
                box-shadow: none;
                border: 0 none;
                border-spacing: 0;
                clear: both;
                margin: 0;
                max-width: 900px;
                min-width: 800px;
                width: auto;
                background: #fff;
                border: 1px solid #e1e1e1;

                select,
                textarea,
                input[type=text],
                input[type=password],
                input[type=email],
                input[type=number] {
                    width: 100%;
                    padding: 3px;
                    height: auto;
                }

                textarea {
                    resize: vertical;
                }
                tr {

                    th {
                        font-weight: bold;
                        text-align: left;
                        font-size: 14px;
                        padding: 8px 15px;
                        line-height: 28px;
                        border-bottom: 1px solid #e1e1e1;
                        p {
                            display: block;
                            line-height: 1.4em;
                            padding: 0 !important;
                            margin: 3px 0 0 !important;
                            font-size: 12px;
                            font-style: italic;
                            /*line-height: 16px;*/
                            color: #666;
                        }
                        label {
                            display: block;
                            font-size: 13px;
                            line-height: 1.4em;
                            font-weight: bold;
                            padding: 0;
                            margin: 0 0 3px;
                            color: #333;
                        }
                    }
                    > th {
                        width: 30% !important;
                        vertical-align: middle;
                        background: #F9F9F9;
                        border-top: 1px solid #f0f0f0;
                        border-right: 1px solid #E1E1E1;
                    }


                    td {
                        &.remove {
                            width: 20px;
                        }
                        &.add {
                            width: 40px;
                        }
                        padding: 13px 15px;
                        border-top: 1px solid #f5f5f5;
                        width: 70% !important;
                        &:first-child {
                            width: 26%;
                            &.wcff-sortable {
                                cursor: move;
                            }
                        }
                    }
                }

                > tbody > tr:first-child > td,
                > tbody > tr:first-child > th {
                    border-top: 0 none;
                }

            }
        }

        #vsp-adds-sidebar {
            .inside {
                margin-bottom: 0;
                padding-top: 12px;
                .owl-nav {
                    text-align: center;
                    margin-top: 20px;
                    > button {
                        padding: 5px !important;
                        background: #D6D6D6;
                        color: #000;
                        border-radius: 5px;
                        margin: 0 15px;
                        width: 50px;
                        height: 25px;
                        vertical-align: middle;
                        font-size: 11px;
                        padding-top: 3px !important;
                        &:hover {
                            background: #869791;
                        }

                    }
                }
            }
        }
        #vsp-settings-faq {
            .vsp-faq-list {
                list-style: inside !important;
                max-height: 200px;
                overflow-y: scroll;
                list-style-type: decimal !important;


                li {}
            }
        }
    }
}

.vsp_settings_subtab {
    float: none;
    margin-top: 0 !important;

    li {
        a {
            padding: 0 5px !important;
            font-size: 14px;
        }
    }
}

.vsp_settings_content {
    display: inline-block;
    float: none;
    margin-top: 10px;
    width: 100%;

    > h2 {
        display: none;
    }
}

.vsp_ajax_error {
    color: red;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.vsp_ajax_success {
    color: green;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.vsp-single-add {
    float: left;
    width: 100%;
    text-align: center;
    .vsp-single-add-header {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        h3 {
            margin-right: 5px !important;
            margin-top: 0 !important;
            line-height: 26px;
        }

        .vsp-add-meta {
            > span {
                margin-right: 10px;
                > span {
                    margin-right: 4px;
                }
            }
        }
        img {
            float: left;
            margin-right: 10px;
            width: 20% !important;
            display: inline-block;
        }
    }

    .vsp-single-add-content {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    .vsp-single-add-footer {
        float: left;
        width: 100%;
    }
}

.popover-title {

    button.close {
        float: right;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        span {
            font-size: 20px;
            color: #0003;
            line-height: 0;
            vertical-align: middle;
        }
    }
}
