.vsp_settings_subtab {
  float:      none;
  margin-top: 0 !important;

  li {
    a {
      padding:   0 5px !important;
      font-size: 14px;
    }
  }
}

.vsp_settings_content {
  display:    inline-block;
  float:      none;
  margin-top: 10px;
  width:      100%;

  > h2 {
    display: none;
  }
}

.vsp_ajax_error {
  color:       red;
  display:     block;
  font-size:   13px;
  font-weight: bold;
  margin-top:  5px;
}

.vsp_ajax_success {
  color:       green;
  display:     block;
  font-size:   13px;
  font-weight: bold;
  margin-top:  5px;
}

#vsp-log-view-wrap {
  padding:  20px;
  display:  block;
  position: relative;
  width:    100%;

  .log-header {
    margin-bottom: 10px;

    div {
      text-align:    center;
      width:         100%;
      margin-bottom: 10px;

      h2 {
        display:        inline-block;
        vertical-align: middle;
        margin:         0;
        margin-right:   10px;
      }
    }
  }

  .log-viewer {
    border:     1px solid #ddd;
    overflow:   scroll;
    max-height: 600px;
    float:      left;
    width:      100%;

    pre {
      float:      left;
      width:      10px;
      display:    inline-block;
      padding:    10px;
      margin-top: 0;
    }
  }
}

#vspaddon-list-container {
  float:   left;
  padding: 20px;
  width:   100%;

  .wp-filter {
    margin-top: 0;
  }
}

.vsp_nothing_found_wrap {
  display:    block;
  width:      100%;
  text-align: center;
  min-height: 250px;
  position:   relative;

  .vsp_nothing_found {
    display:    inline-block;
    margin:     10% auto;
    margin-top: 5%;
    text-align: center;

    span {
      height: 200px;
      width:  200px;

      &.dashicons:before {
        font-size:   200px;
        color:       transparent;
        text-shadow: 0 0 0 #0000001a;
      }
    }

    h2 {
      font-size:   25px;
      color:       transparent;
      text-shadow: 0 0 0 #00000080;
    }
  }
}