.vsp_settings_subtab {
  float:      none;
  margin-top: 0 !important;

  li {
    a {
      padding:   0 5px !important;
      font-size: 14px;
    }
  }
}

.vsp_settings_content {
  display:    inline-block;
  float:      none;
  margin-top: 10px;
  width:      100%;

  > h2 {
    display: none;
  }
}

.vsp_ajax_error {
  color:       red;
  display:     block;
  font-size:   13px;
  font-weight: bold;
  margin-top:  5px;
}

.vsp_ajax_success {
  color:       green;
  display:     block;
  font-size:   13px;
  font-weight: bold;
  margin-top:  5px;
}

#vsp-log-view-wrap {
  padding:  20px;
  display:  block;
  position: relative;

  .log-header {
    margin-bottom: 10px;

    div {
      text-align:    center;
      width:         100%;
      margin-bottom: 10px;

      h2 {
        display:        inline-block;
        vertical-align: middle;
        margin:         0;
        margin-right:   10px;
      }
    }
  }

  .log-viewer {
    padding:    10px;
    border:     1px solid #ddd;
    overflow:   scroll;
    max-height: 600px;

  }
}

#vspaddon-list-container {
  float:   left;
  padding: 20px;

  .wp-filter {
    margin-top: 0;
  }
}